#m-show-hpagepanel{
	@include burger-incomplete-design(30px, 23px, $theme_color-links, flex-start);
	opacity: 1;
	visibility: visible;
	pointer-events: auto;
	user-select: auto;
	@media (min-width: 960px){
  	display: none;
  	opacity: 0;
  	visibility: hidden;
  	pointer-events: none;
  	user-select: none;
  }
}
$top-header-movile: 70px;
$top-header-desktop: 85px;
.cControlP{
	&__cont{
		@media (min-width: 960px){
			display: grid;
	    grid-template-columns: 285px auto;
	    grid-template-areas: "header header"
        									 "sidebarleft contain";
		}
		/* HEADER TOP */
		&--hTop{
			width: 100%;
			left: 0;
			position: fixed;
			box-shadow: 0 0 20px 3px rgba(0, 0, 0, .2);
			min-height: 3rem;
			padding: 15px;
	    display: flex;
	    align-items: center;
	    justify-content: space-between;
	    z-index: 999;
	    min-height: $top-header-movile;
	    height: $top-header-movile;
			background-color: var(--bg-color-dcli-sideLeft-header);
			border-bottom: thin solid var(--theme_color-header-border-bottom);
	    @media (min-width: 960px){
	    	grid-area: header;
	    	padding: 12px 15px;
	    	min-height: $top-header-desktop;
	    	height: $top-header-desktop;
	    }
			&--c{
				@media (min-width: 960px){
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: space-between;
				}
				&--cLogHorario{
					display: none;
					@media (min-width: 960px){
						display: flex;
						flex-flow: wrap row;
						align-items: center;
						justify-content: flex-start;
					}
					&--cLogo{
						margin-right: 1.5rem;
						@media (min-width: 960px){
							position: relative;
    					top: 5px;
						}
						a{
							display: table;
						}
						img{
							max-width: 187px;
    					width: 95%;
						}
					}
					&--cHorario{
						p{
							color: $theme_color-text-header-2;
							line-height: 1.4;
							margin-bottom: 0.3rem;
							font-size: 0.9rem;
						}
					}
				}
				&--cWpsNameCli{
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-left: auto;
					&--wpsMobile{
						&--cIcon{
							display: table;
					    max-width: 1.2rem;
    					width: auto;
							img{
								width: 100%;
								height: auto;
							}
						}
						@media (min-width: 991px){
							display: none;
						}
					}
					&--wpsWeb{
						display: none;
						background-color: #e1f2ec;
						padding: .5rem 1rem;
						border-radius: 6px;
						transition: ease-out .2s;
						text-decoration: none;
						&:hover{
							background-color: darken(#e1f2ec, 10%);
						}
						@media (min-width: 991px){
							display: flex;
							align-items: center;
							justify-content: space-between;
						}
						span{
							color: $theme_color-text;
						}
						&--cIcon{
							position: relative;
							top: -2px;
							display: table;
							margin-left: 0.5rem;
							max-width: 1.35rem;
    					width: auto;
							img{
								width: 100%;
								height: auto;
							}
						}
					}
					&--ndataCli{
						display: flex;
						align-items: center;
						justify-content: space-between;
						margin-left: 1rem;
						&--cIcon{
							width: 40px;
					    height: 40px;
					    border-radius: 50%;
					    background-color: #e1f2ec;
					    overflow: hidden;
							img{
								width: 100%;
								object-fit: cover;
							}
						}
						&--cNamecli{
							@media (min-width: 991px){
								margin-left: 1rem;
							}
							p{
								font-size: 0.85rem;
								font-weight: 400;
								color: $theme_color-text-header-2;
								span{

								}
							}
						}
						&--cIconArrow{
							cursor: pointer;
							border: none;
					    background-color: transparent;
					    margin-left: 0.5rem;
					    padding: .5rem 0 .5rem 0;

							img{
								width: 1rem;
							}
						}
					}
				}
			}
		}
		/* SIDEBAR LEFT- MOBILE/DESKTOP */
		&--sdLeft{
			background-color: rgba(0, 0, 0, .2);
			width: 100%;
			min-height: 100vh;
			height: 100%;
			position: fixed;
			display: none;
			&.show{
				display: block;
				z-index: 99;
			}			
			@media (min-width: 960px){
				display: block;
				width: auto;
				pointer-events: auto;
				grid-area: sidebarleft;
			}
			&--c{
				overflow-y: auto;
				background-color: var(--bg-color-dcli-sideLeft);
				height: 100%;
				width: 75%;
				max-width: 17rem;
				transform: translateX(-100%);
				animation-name: moverleft;
				animation-duration: .2s;
				animation-timing-function: ease-in-out;
				pointer-events: none;
				@keyframes moverleft {
					0%{
						transform: translateX(-100%);
					}
					100%{
						transform: translateX(0);
					}
				}
				&.show{
					transform: translateX(0);				
					pointer-events: auto;
				}
				@media (min-width: 960px){
					width: 285px;
					transform: translateX(0);
					animation-name: unset;
					display: block;
					pointer-events: auto;
					max-width: unset;
					border-right: thin solid var(--theme_color-header-border-bottom);
				}
				&--cIconMobile{
					padding: 2rem;
					margin-bottom: 1rem;
					img{

					}
				}
				&--m{
					padding: 0;
					margin: 0;
					&--item{

					}
					&--link{
						text-decoration: none !important;
						display: block;
						padding: 1rem 0 1rem 1.5rem;
						color: var(--bg-color-dcli-sideLeft-link);
						font-weight: 600;
						transition: .2s ease-in-out;
						&__cIcon{
							max-width: 24px;
							width: auto;
							height: auto;
							vertical-align: middle;
							margin-right: 0.75rem;
							img{
								width: auto;
								height: auto;
							}
							svg{
								fill: var(--bg-color-dcli-sideLeft-link);
							}
							&__svgstroke{
								fill: none !important;
								path{
									stroke: var(--bg-color-dcli-sideLeft-link);
								}
							}
						}
						&.active{
							background-color: var(--bg-color-dcli-sideLeft-link-bg-hover);
							box-shadow: -4px 0 0 0px $theme_color-links inset;
							color: var(--bg-color-dcli-sideLeft-link-hover);
							span{
								svg{
									fill: var(--bg-color-dcli-sideLeft-link-hover);
								}
							}
						}
						&:hover{
							background-color: var(--bg-color-dcli-sideLeft-link-bg-hover);
							color: var(--bg-color-dcli-sideLeft-link-hover);
							span{
								svg{
									fill: var(--bg-color-dcli-sideLeft-link-hover);
								}
								svg.cControlP__cont--sdLeft--c--m--link__cIcon__svgstroke{
									fill: none !important;
									path{
										stroke: var(--bg-color-dcli-sideLeft-link-hover);
									}
								}
							}
						}
						@media (min-width: 768px){
							font-size: 1.05rem;
						}
					}
				}
			}
		}
		#page-indexusercontrol{
			//top: 0 !important;
		}
		/* CONTAIN PRINCIPAL */
		&--containDash{
			min-height: 100vh;
			height: 100%;
			background-color: var(--bg-color-dcli-main);
			position: relative;
	    top: $top-header-movile;
			@media (min-width: 960px){
				grid-area: contain;
				top: $top-header-desktop;
			}			
			#cont-initial-page{
				justify-content: center;
				min-height: 100vh;
				height: 100%;
				padding: 0.5rem .5rem 4.2rem .5rem;
				@media (min-width: 991px){
					padding: 0.5rem .5rem 7.2rem .5rem;
				}
			}
			&--cProfileUsed{
				color: $white;
				padding: 1.1rem;
				display: flex;
		    flex-flow: wrap row;
		    align-items: center;
		    justify-content: flex-start;
		    gap: 0.5rem;
		    width: 100%;
		    width: 100%;
				background-color: var(--bg-color-dcli-sideLeft-header);
    		border-bottom: thin solid var(--theme_color-header-border-bottom);
				&__cLeftTxt{
					display: inline-block;
					margin-right: auto;
					span:first-child{
						font-weight: 600;
					}
				}
				&__cRightTxt{
					display: inline-block;
					margin-left: auto;
					a{
						display: flex;
				    align-items: center;
				    justify-content: flex-end;
						color: $white;
					}
					&__cIcon{
						margin-right: 0.3rem;
						svg{
							fill: $white;
							position: relative;
    					top: 3px;
						}
					}
					&__cTxt{
						text-decoration: underline;
						span{}
					}
				}
			}
			&--c{
				display: flex;
		    flex-flow: wrap column;
		    align-items: center;
		    justify-content: center;
		    margin: 0 auto;
				&__ctitle{
					text-align: center;
					margin-bottom: 0.8rem;
					@media (min-width: 991px){
						margin-bottom: 1.6rem;
					}
					h2{
						color: var(--bg-color-dcli-sections-title-1);
						font-weight: 600;
						font-size: 1.35rem;
						@media (min-width: 991px){
							font-size: 1.95rem;
							margin-bottom: .5rem;
						}
					}
					h3{
						color: var(--theme_color-text-paragraph);
						font-size: 1rem;
						font-weight: 300;
						@media (min-width: 991px){
							font-size: 1.3rem;
						}
					}
				}
				&__cBtnsOpts-m{
					padding: 0;
					margin: 0;
					@media (min-width: 768px){
						display: flex;
						flex-flow: nowrap row;
						align-items: flex-start;
						justify-content: center;
					}
					form{
						@media (min-width: 768px){
							display: flex;
							flex-flow: nowrap row;
							align-items: flex-start;
							justify-content: center;
						}
					}
					&--item{
						text-align: center;
						border: none;
				    transition: .25s ease-in-out;
				    display: flex;
				    align-items: center;
				    justify-content: center;
				    flex-flow: wrap column;
				    border-radius: 6px;
						background-color: var(--bg-color-dcli-sections-bg-1);
				    border: thin solid var(--bg-color-dcli-sections-border-1);
				    position: relative;
				    margin-bottom: 1rem;
				    &:hover{
				    	box-shadow: 0 5px 15px 1px rgba(0,0,0,.08);
				    }
				    &:first-child{
				    	margin-left: 0;
				    	margin-right: 0;
				    	margin-top: 0;
				    }
				    @media (min-width: 768px){
				    	margin-left: 2.5rem;
				    	min-width: 16rem;
    					min-height: 15.5rem;
    					width: 95%;
    					height: auto;
    					margin-bottom: 0;
				    }
				    @media (min-width: 991px){
				    	min-height: 17.5rem;
				    	min-width: 17rem;
				    }				    
				    &__cIconClose{
				    	position: absolute;
					    top: 10px;
					    right: 8px;
					    max-width: 30px;
					    max-height: 30px;
					    width: auto;
					    height: auto;
					    z-index: 3;
					    span{
					    	cursor: pointer;
						    display: inline-block;
						    vertical-align: middle;
						    width: 100%;
						    height: 100%;
						    svg{
						    	fill: red;
							    position: relative;
							    margin-right: .35rem;
							    width: 2rem;
							    height: 2rem;
							    display: inline-block;
							    font-size: 1.5rem;
							    transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
							    flex-shrink: 0;
							    user-select: none;
							    vertical-align: middle;
							    top: 3px;
						    }
					    }
				    }
					}
					&--link{
						border: none;
						padding: 1.5rem 1rem;
						cursor: pointer;
						z-index: 1;
						background-color: unset;
						@media (min-width: 768px){
				    	padding: 2rem 1rem;
    					height: auto;
    					margin-bottom: 0;
				    }
				    &__cInfoProfile{
				    	display: flex;
					    flex-flow: nowrap column;
					    align-items: center;
					    justify-content: center;
					    text-align: center;
					    &__cNameProfile{
					    	font-size: 1.45rem;
					    	font-weight: 600;
					    	color: var(--bg-color-dcli-sections-title-1);
					    	margin-bottom: .75rem;
					    	word-break: break-word;
					    	span{
					    		word-break: break-word;
					    	}
					    }
					    &__cIcon{
						    display: table;
						    align-items: center;
						    justify-content: center;
						    flex-flow: nowrap row;
						    max-width: 5.5rem;
						    max-height: 5.5rem;
						    width: 5.5rem;
						    height: 5.5rem;
						    border-radius: 15px;
						    background-color: #fff;
					    	vertical-align: middle;
					    	margin-bottom: 0.85rem;
					    	box-sizing: border-box;
						    @media (min-width: 991px){
						    	max-width: 7.65rem;
									width: 7.65rem;
								}
								img{
									width:100%;
									height:auto;
									object-fit: cover;
									object-position: center;
								}
					    	i,svg{
					    	}
					    }
					    &__ctitle{
								color: var(--theme_color-text-paragraph);
								font-size: 0.9rem;
								font-weight: 400;
								word-break: break-word;
								margin-bottom: 0.65rem;
								span{
									word-break: break-word;
								}
					    }
					    &__cfkLinkTxtDeco{
					    	color: var(--bg-color-dcli-sections-link-1);
					    	font-size: 0.9rem;
								font-weight: 600;
								word-break: break-word;
								text-decoration: underline;
								span{
									word-break: break-word;
								}
					    }
				    }
					}
				}
			}
			&--cFooter{
		    padding-bottom: 2rem;
    		padding-top: 2rem;
    		&--c{
    			max-width: 950px;
    			width: 90%;
					margin-left: auto;
					margin-right: auto;
    			&--title{
						// color: $theme_color-text;
						margin-bottom: 0.5rem;
						font-size: 1.5rem;
						color: var(--bg-color-dcli-sections-title-1);
					}
					&--m{
						padding: 0;
						margin: 0;
						@media (min-width: 768px){
							display: flex;
							align-items: center;
							border-radius: .6rem;
							overflow: hidden;
							background-color: var(--bg-color-main-sections-bg-1);
    					border: thin solid var(--bg-color-main-sections-border-1);
						}
						&--item{
							margin-bottom: 0.5rem;
							display: flex;
							align-items: center;
							justify-content: center;
							padding: 1rem;
							border-radius: .5rem;
							@media (min-width: 768px){
								text-align: center;
								flex-direction: column;
								border-radius: unset;
							}
							&__cIcon{
								margin-right: 1rem;
								max-width: 24px;
								width: 24px;
								@media (min-width: 768px){
									margin-right: 0;
									margin-bottom: 1rem;
								}						
								img{
									width: 100%;
									height: auto;
								}
								svg{
									fill: $theme_color_buttons;
								}
							}
							p{
								// color: $theme_color-text;
								color: var(--theme_color-text-paragraph-2);
							}
						}
					}
    		}
			}
		}
		/* SIDEBAR RIGHT BOTTOM/RIGHT */
		&--sdRight{
			width: 100%;
			min-height: 100vh;
			height: 100%;
			background-color: rgba(0,0,0,.3);
			backdrop-filter: blur(5px);
			position: fixed;
			display: none;
	    align-items: flex-end;
	    justify-content: center;
	    z-index: 999;
	    &.show{
	    	display: flex;
	    }
	    @media (min-width: 991px){
	    	align-items: flex-start;
	    	justify-content: flex-end;
	    }
			&--c{
				width: 100%;
				background-color: var(--bg-color-dcli-sideRight);
				border-radius: 30px 30px 0 0;
				padding-bottom: 2rem;
				transform: translateY(100%);
				animation-name: movetobottom;
				animation-duration: .2s;
				animation-timing-function: ease-in-out;
				pointer-events: none;
				@keyframes movetobottom {
					0%{
						transform: translateY(100%);
					}
					100%{
						transform: translateY(0);
					}
				}
				&.show{
					transform: translateY(0);				
					pointer-events: auto;
				}
				@media (min-width: 991px){
		    	width: 360px;
		    	height: 100%;	
		    	border-radius: 30px 0 0 0;
		    	transform: translateY(0) translateX(100%);
		    	animation-name: movetoright;
					animation-duration: .2s;
					animation-timing-function: ease-in-out;
					pointer-events: none;
					@keyframes movetoright {
						0%{
							transform: translateY(0) translateX(100%);
						}
						100%{
							transform: translateY(0) translateX(0%);
						}
					}
		    	&.show{
						transform: translateY(0) translateX(0%);		
						pointer-events: auto;
					}
		    }				
				&--iconclose{
					cursor: pointer;
					display: flex;
					align-items: center;
					justify-content: flex-end;
					padding: 1rem 1rem 0 1rem;
					svg{
						display: table;
						vertical-align: middle;
						fill: none;
						stroke: $theme_color_buttons;
					}
				}
				&--cNamecli{
					display: flex;
					align-items: flex-start;
					justify-content: center;
					padding: 1rem;
					@media (min-width: 991px){
						padding: 1rem 2rem;
					}
					&--cImg{
						border-radius: 10px;
				    background-color: #f0f8f5;
				    width: 5.5rem;
				    margin-right: 20px;
						img{
							object-fit: cover;
						}
					}
					&--cnamcli{
						p{
							color: $theme_color-text-header-2;
							font-size: 1.1rem;
					    font-weight: bold;
					    line-height: 1.5;
						}
						span{
							color: $theme_color-opaque;
						}
					}
				}				
				&--m{
					padding: 0;
					margin: 0;
					&--item{

					}
					&--link{
						text-decoration: none !important;
						display: block;
						padding: 1rem 0 1rem 1.5rem;
						color: $theme_color-text-header-2;
						transition: unset;
						&__cIcon{
							max-width: 20px;
							width: auto;
							height: auto;
							vertical-align: middle;
							margin-right: 0.75rem;
							img{
								width: auto;
								height: auto;
							}
							svg{
								fill: $theme_color-text-header-2;
							}
						}
						span{
						}
						&.active{
							background-color: $theme_color-opaque;
							box-shadow: -3px 0 0 0px $theme_color_buttons inset;
							span{
								color: $theme_color-text;
								svg{
									fill: $theme_color-text;
								}
							}
						}
						@media (min-width: 991px){
							padding: 1rem 0 1rem 2.2rem;
						}
						&:hover{
							background-color: $theme_color-opaque;
							color: $theme_color-text;
							span{
								svg{
									fill: $theme_color-text;
								}
							}
						}
					}
				}
			}
		}
	}
}