#cont-my-profile{
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	.cControlP__cont--containDash--c--myProfile{
		padding: 0;
		max-width: 51.5rem;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		min-height: 100vh;
		height: 100%;
		&--cTitle{
			margin-bottom: 1rem;
			padding: 0 0.5rem 0 0.5rem;
			@media (min-width: 768px){
				padding: 0;
			}
			&--title{
				color: var(--bg-color-dcli-sections-title-1);
				margin-bottom: 0.5rem;
			}
			&--desc{
				line-height: 1.5;
				color: var(--theme_color-text-paragraph);
			}
		}
		&--cDataUser{
			// background-color: #fff;
			border-radius: 1.5rem;
			box-shadow: 0 5px 30px 1px rgba(0,0,0,.1);
			padding: 1.5rem;
			background-color: var(--bg-color-dcli-sections-bg-1);
			border: thin solid var(--bg-color-dcli-sections-border-1);
			@media (min-width: 768px){
				padding: 2.5rem 3rem;
			}
			&--item{
				display: flex;
				align-items: flex-start;
				justify-content: space-between;
				flex-wrap: wrap;
				flex: 0 0 100%;
				@media (min-width: 768px){
					gap: 1rem;
				}
				&--control{
					margin-bottom: 1rem;
					line-height: 1.35;
					&--label{
						color: var(--bg-color-dcli-sections-title-1);
						font-weight: 500;
					}
					&--input{
						color: var(--theme_color-text-paragraph);
					}
					&--cUptData{
						display: flex;
				    flex-flow: wrap row;
				    align-items: center;
				    justify-content: space-between;
				    flex: 0 0 100%;
				    &--txt{
							color: var(--theme_color-text-paragraph);
				    }
				    &--cIcon{
				    	cursor: pointer;
				    	min-width: 28px;
				    	min-height: 28px;
				    	width: 28px;
				    	height: 28px;
				    	button{
				    		border: none;
				    		box-shadow: unset;
				    		background-color: unset;
				    		outline: none;
				    	}
				    	svg{
				    		fill: $theme_color-links;
				    	}
				    }
				    /* CONTENEDOR DE CAMPOS EDITABLES */
				    &--dtUpdFocus{
				      position: relative;
					    display: block;
					    width: 100%;
					    padding: .4rem 4rem .5rem 0.65rem;
					    margin: 0.5rem 0 0 0;
							border-radius: 6px;
							border: thin solid var(--theme_color-input-border);
							background-color: var(--theme_color-input-bg);
							color: var(--theme_color-input-color);
					    input{
					    	display: block;
					    	outline: none;
					    	border: none;
					    	line-height: 1;
					    	width: 100%;
					    	height: 100%;
								border: none;
								background-color: var(--theme_color-input-bg);
								color: var(--theme_color-input-color);
					    }
					    button{
					    	position: absolute;
					    	display: inline-block;
					    	border: none;
					    	box-shadow: unset;
					    	padding: 0;
					    	margin: 0;
					    	background-color: transparent;
					    	top: 6px;
								cursor: pointer;
					    	svg{
					    		vertical-align: top;
					    	}
					    }
					    &__btn-confirm{
					    	fill: green;
					    	right: 34px;
					    }
					    &__btn-cancel{
					    	right: 2px;
					    	svg{
					    		fill: red;
					    	}
					    }
				    }
					}
					&--cUptOnlyOneData{
						display: block;
						margin: .5rem 0 0 .5rem;
						@media (min-width: 768px){
							display: inline-block;
							margin: 0 0 0 1rem;
						}
						&__chckCont{
							position: relative;
							display: inline-block;
							&__input[type="checkbox"]{
								outline: none;
								padding: 0;
								line-height: initial;
								margin: 0 0.2rem;
								position: absolute;
						    left: 0;
						    top: 0;
						    width: 100%;
						    height: 100%;
						    z-index: 5;
						    opacity: 0;
						    cursor: pointer;
							}
							&__label{
						    display: table;
								vertical-align: middle;
								margin-bottom: 0;
								cursor: pointer;
								width: 45px;
						    height: 18px;
						    background: #bbb;
						    position: relative;
						    border-radius: 46px;
						    transition: 0.5s;
						    top: 3px;

						    &:after{
						    	content: '';
							    position: absolute;
							    border-radius: 100%;
							    left: -2px;
							    top: -3px;
							    width: 24px;
							    height: 24px;
							    z-index: 2;
							    background: #fff;
							    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
							    transition: 0.5s;
							    background: #fff;
						    }
							}

							&__input:hover + label:after{
								box-shadow: 0 1px 9px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
							}
							&__input:checked + label{
								background-color: #4BD865;
							}
							&__input:checked + label:after{
	  						left: 24px;
							}
						}
					}
				}
			}
			/* DATOS DE VALIDACIÓN Y CAMBIO DE CONTRASEÑA */
			&--cDataValidate{
				padding-top: 1rem;
				&--m{
					padding: 0;
					margin: 0;
					&--item{
						&__c{
							display: flex;
					    align-items: center;
					    justify-content: flex-start;
					    flex-flow: wrap row;
							margin-bottom: 1.5rem;
							&__mssgValidOpt{
								display: inline-block;
								margin-bottom: 0;
								&.c-colormssg-process{
									span{
										color: orange;
										vertical-align: top;
										svg{
											fill: orange;
										}
									}
								}
								&.c-colormssg-success{
									span{
										color: green;
										vertical-align: top;
										svg{
											fill: green;
										}
									}
								}
								&.c-colormssg-danger{
									span{
										color: red;
										vertical-align: top;
										svg{
											fill: red;
										}
									}
								}
							}
						}
					}
					&--link{
						cursor: pointer;
						border: none;
						background-color: transparent;
						margin-bottom: 0.5rem;
						margin-right: 0.5rem;
						display: flex;
						align-items: center;
						justify-content: flex-start;
						flex-flow: wrap row;
						&--cIcon{
							width: 30px;
					    height: 30px;
					    display: inline-block;
					    margin-right: 1rem;
							svg{
								display: table;
								vertical-align: middle;
								fill: $theme_color-links;
							}
						}
						span{
							//vertical-align: middle;
							color: var(--theme_color-text-paragraph);
						}
					}
				}
			}
		}
	}
}