.cRecovpass{
	background-image: url("../img/svg/fondo-moneda.svg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
	height: 100%;
	width: 100%;
	&__cont{
		min-height: 100vh;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		&--fAccount{
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			justify-content: flex-start;
			max-width: 360px;
			width: 90%;
			text-align: center;
			padding: 2.5rem 1rem;

			@media (min-width: 480px){
				padding: 2rem 0;
			}

			@media (min-width: 1134px){
				padding: 0;
			}

			&--cTitle{
				display: block;
				margin-bottom: 2.5rem;
				width: 100%;
				&--title{
					font-size: 1.25rem;
					color: $theme_color-text;
					line-height: 1.5;
					font-weight: 600;

					@media (min-width: 768px){
						font-size: 1.7rem;
					}
				}
				&--desc{
					font-size: .95rem;
					margin-top: 0.6rem;
					color: $color-paragraph;

					@media (min-width: 480px){
						font-size: 1rem;
						line-height: 1.5;
					}
				}
			}
			&--form{
				width: 100%;
				&--controls{
					position: relative;
					margin-bottom: 1.5rem;

					@media (min-width: 480px){
						margin-bottom: 2rem;							
					}

					&--g-Listprefix{
						position: relative;
						margin-bottom: 1.5rem;

						@media (min-width: 480px){
							margin-bottom: 2rem;							
						}

						&--fakeselect{
							position: absolute;
							display: flex;
							align-items: baseline;
							top: 50%;
							padding-left: 0.5rem;
							transform: translateY(-50%);
							&--cflagIcon{
								width: 17px;
								height: 12px;
								display: flex;
								align-items: center;
								justify-content: center;
								img{
									width: 100%;
									height: 100%;
								}
							}
							&--cIcon{
								width: 9px;
						    height: 8px;
						    display: flex;
						    left: 3px;
						    position: relative;
								&--arrowbottom{
									fill: #000;
								}
							}
						}
						&--input{
							padding: 0.7rem 0.5rem 0.3rem 2.7rem;
							border-top: none;
							border-bottom: thin solid #ccc;
							border-left: none;
							border-right: none;
							width: 100%;
							font-size: .85rem;

							@media (min-width: 480px){
								font-size: 1rem;
							}
						}
					}

					&--cIcon{
						position: absolute;
						right: .5rem;
						top: 50%;
						transform: translateY(-50%);
						width: 1.3rem;
						height: 1.3rem;
						display: flex;
						align-items: center;
						justify-content: center;
						text-align: center;

						@media (min-width: 480px){
							width: 33px;
							height: 33px;
						}

						&--email{
							fill: #ccc;
						}
						&--pass{
							fill: #ccc;
						}
					}
					&--input{
						padding: 0.7rem 2.35rem 0.7rem .5rem;
						border-top: none;
						border-bottom: thin solid #ccc;
						border-left: none;
						border-right: none;
						font-size: .85rem;
						width: 100%;

						@media (min-width: 480px){
							font-size: 1rem;
						}

						&.focus{
							border-bottom: thin solid $color-paragraph;
						}
						&.alert{
							border-bottom: thin solid red;
						}
						&.complete{
							border-bottom: thin solid green;
						}
					}
				}
				&--cReferedU{
					margin-bottom: 1rem;
					&--title{
						color: $theme_color-links;
						margin-bottom: 0.5rem;
						line-height: 1.5;
						font-size: 1rem;
						font-weight: 600;

						@media (min-width: 480px){

						}
					}
					&--desc{
						font-size: 0.95rem;
						@media (min-width: 480px){
								
						}
					}
					&--input{
						padding: 0.7rem 0.8rem;
						border: thin solid #ccc;
						border-radius: 7px;
						width: 100%;
						margin: 0.7rem 0;
						line-height: 1.5;
						box-shadow: 0 15px 10px 1px rgba(0,0,0,.05);
						font-size: .85rem;

						@media (min-width: 480px){
							font-size: 1rem;
						}
					}
				}
				&--pprivate{
					text-align: left;
					margin-bottom: 1rem;
					font-size: .95rem;

					@media (min-width: 480px){
						font-size: 1rem;
						line-height: 1.5;
					}
					a{
						text-decoration: underline;
						color: $theme_color-links;
					}
				}
				&--cBtnsActions{
					&--btnRegister{
						cursor: pointer;
						display: block;
						width: 100%;
						background-color: $theme_color_buttons;
						border: none;
						color: $theme_color-text-header;
						padding: 0.8rem .5rem;
						border-radius: .5rem;
						margin-bottom: 1rem;
						font-size: .95rem;
						transition: ease-out .2s;  
						line-height: 1.5;
						opacity: .5;
						&:hover{
							background-color: darken($theme_color_buttons, 10%);
						}
					}
					&--redirectText{
						font-size: 0.95rem;
						
						@media (min-width: 480px){
							font-size: 1rem;
						}

						a{
							text-decoration: underline;
							color: $theme_color-text;
						}
					}
				}
			}
		}
	}
}