RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
RewriteBase /MiCambista/

############RENAME PRINCIPAL FILES
RewriteRule ^/?$ index.php
RewriteRule signin?$ views/login.php
RewriteRule signup?$ views/account.php
RewriteRule complete-register?$ views/complete-register.php
RewriteRule logout?$ php/process_logout-client.php
RewriteRule recover-password?$ views/recover-password.php
RewriteRule politicas-de-privacidad?$ views/policy-privacy.php

############RENAME PAGES FOR ADMIN
RewriteRule admin?$ admin/index.php
RewriteRule dashboard?$ admin/views/dashboard.php
RewriteRule clientes?$ admin/views/client.php
RewriteRule cupones?$ admin/views/coupons.php
RewriteRule tarifario?$ admin/views/rates.php
RewriteRule paises?$ admin/views/countries.php
RewriteRule bancos?$ admin/views/banks.php
RewriteRule transbanks?$ admin/views/my-banks.php
RewriteRule ajustes?$ admin/views/settings.php
RewriteRule savesettings?$ admin/controllers/c_update_config.php

############RENAME ACTION IN PAGES OF THE CLIENT
RewriteRule control-panel?$ views/control-panel.php
RewriteRule welcome?$ views/welcome.php
RewriteRule tablero?$ views/dashboard.php
RewriteRule all-converts?$ views/all-transactions.php
RewriteRule convert-divise?$ views/convert-divise.php
#RewriteRule convert-divise/step-2?$ views/step-two.php
RewriteRule complete-divise?$ views/complete-exchange.php
RewriteRule my-accounts?$ views/my-accounts.php
RewriteRule my-profile?$ views/my-profile.php
RewriteRule validation-biometric?$ views/validation-biometric.php