/* IMPORTAR LAS FUNCIONES */
 @import 'variables';
 @import 'mixins';

*,
*::before,
*::before{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
a{
	text-decoration: none !important;
}
ul{
	list-style: none !important;
	padding: 0 !important;
}
input,
button,
select{
	outline: none;
}
p{
	color: $color-paragraph;
}
img{
	max-width: 100%;
	width: auto;
	height: auto;
}
/* UTILITIES CLASS */
.box{
	@include max-width($max-width);
	margin-left: auto;
	margin-right: auto;
	width: 90%;
}
.alt-mayus{
	text-transform: uppercase !important;
}
.center{
	text-align: center !important;
}
.contain-table-responsive{
	overflow-x: auto !important;
}
/* MESSAGE AND OTHERS STYLES */
.msgAlertLogin{
	
	&--error{
		display: flex;
    align-items: flex-start;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.3);
    z-index: 999;

    &.disabled{
			transition: ease .3s;			
			opacity: 0;			
			display: none;		
		}

		&--c{
			max-width: 400px;
	    width: 90%;
	    background-color: #fff;
	    border-radius: 10px;
	    position: relative;
			margin-top: 1rem;
	    padding: 1rem;
	    animation-name: alert;			
			animation-duration: .3s;			
			animation-timing-function: ease;			
			animation-iteration-count: inherit;

			&--close{
				width: 18px;
				height: 18px;
				background:
      		linear-gradient(45deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 43%, #fff 45%, #fff 55%, rgba(0, 0, 0, 0) 57%, rgba(0, 0, 0, 0) 100%), 
      		linear-gradient(135deg, #000 0%, #000 43%, #fff 45%, #fff 55%, #000 57%, #000 100%);
      	border-radius: 50%;
    		box-shadow: 0 0 0 1px #000, 0 0 0 4px #000, 0 0 0 7px #fff;
    		position: absolute;
    		top: 0;
    		right: -5px;
    		cursor: pointer;
			}
			&--title{
				font-size: 1.15rem;
				font-weight: 600;
				color: red;
				padding: 0;
				margin: 0;
			}
			&--desc{
				color: red;	
				padding: 0;
				margin: 0;
				font-size: 0.9rem;
			}

			@keyframes alert{
				0%{
					transform: translateY(-100%);
					margin-top: 0;
				}
				100%{
					transform: translateY(0);
					margin-top: 1rem;
				}
			}
		}
	}
	&--success{
		position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255,255,255,.7);
    z-index: 999;
    
		&--loader{
			@include loader(yellow, 55px);
		}
	}
}