/* VARIABLES GENERALES DEL PROYECTO */
	$max-width												: 1134px; 
	$primary-color										: yellow;
	$color-paragraph									:	#676767;
	$color-paragraph-light						:	#3F3F3F;
	$color-paragraph-bold							: #000000;
	$color-links										  : steelblue;

/* VARIABLES SECUNDARIAS */
	$placeholder-input								:	#C1C2C5;
	$border-bottom-input							:	rgb(118, 118, 118);
	$bgc-th-table											: #F2F2F2;
	$btn-color-blue										: #0D6EFD;
	$btn-color-green									: #198754;
	$btn-color-red										: #DC3545;
	$btn-color-gray										: #6C757D;
	$border-color-table								: #dee2e6;
	$border-color-btn-inset						: #20afdb;
	$bgc-dashboard-admin							: #f4f6fa;