/* DATATABLES - MINIMUM DEVICE WIDTH */
.contain-table-responsive{
	overflow-x: auto !important;
	height: auto;
}
.cont-group-form-controls{
	display: flex;
	flex-flow: wrap row;
	align-items: center;
	justify-content: space-between;
}
.cont-groupbox-controls{
  display: flex;
  flex-flow: wrap row;
  align-items: center;
  justify-content: flex-start;
  border: thin solid #9999;
  padding: 1rem .5rem .5rem .5rem;
  border-radius: 5px;
  position: relative;
  margin: .85rem 0 1rem 0;

  @media (min-width: 768px){
  	padding: 1rem;
  }

  &__label{
  	position: absolute;
    border: none;
    outline: none;
    font-size: .9rem;
    top: -12px;
    left: 5px;
    background-color: #fff;
    display: block;
    margin: 0 auto 0 0;
    padding: 0 0.3rem 0 0.35rem;
  }
}
/* MODAL BOOTSTRAP - CONFIGURATIONS ADD ITEMS*/
.bootstrapmodal-custom{
	.modal-dialog{
		.modal-content{
			.modal-header{
				.modal-title{
					font-weight: bold;
					line-height: 1.2 !important;
				}
				.close{

				}
			}

			.modal-body{
				.cont-modalbootstrap{
					&__form{
						/* FORM - CONTROLES */
						&--control{
							display: flex;
							flex-direction: column;
							margin-bottom: .5rem;
							position: relative;
							flex: 0 auto;

							/* MENSAJE DE ALERTA  - NOMBRE DE BANCO*/
							#msgErrNounNombBank{
								color: red;
								padding-left: 0.65rem;
							}

							/* MENSAJE DE ALERTA  - NÚMERO DE RU*/
							#msgErrNounNumbRUC{
								color: red;
								padding-left: 0.65rem;
							}

							/* MENSAJE DE ALERTA  - NÚMERO DE CUENTA*/
							#msgErrNounNumbAccount{
								color: red;
								padding-left: 0.65rem;
							}

							&__contIconLeft{
								position: relative;
						    display: flex;
						    align-items: center;
						    justify-content: center;
						    border: thin solid #767676;
						    border-radius: .6rem .5rem .5rem .6rem;

								&--icon{
									position: absolute;
							    display: flex;
							    align-items: center;
							    justify-content: center;
							    vertical-align: middle;
							    min-height: 100%;
							    left: 0;
							    width: 48px;
							    background: #eee;
							    box-shadow: 0 0 0 1px #ccc;
							    border-radius: .5rem 0 0 .5rem;
								}

								input{
									border: none;
									padding-left: 3.8rem;
								}
							}

							&__continputs{
								display: flex;
								align-items: center;
								justify-content: space-between;
								margin-bottom: 0.5rem;
								
								&--controls{
									display: flex;
									flex-direction: column;
									justify-content: flex-start;
									width: 48%;
									position: relative;

									&__label{
										margin: 0;
										font-size: 0.75rem;
										position: absolute;
										left: 3px;
										top: -8px;
										background-color: #fff;
										padding: 0 .3rem;
										color: #777;
									}

									&__input{
										width: 100%;
										border: thin solid $border-bottom-input;
										outline: none;
										padding-bottom: 0.4rem;
										padding-top: 0.4rem;
										background-color: transparent;
										font-size: 0.9rem;
										padding-left: 0.3rem;
										padding-right: 0.3rem;
										border-radius: .3rem;

										/*
										&[type=number]::-webkit-inner-spin-button, &[type=number]::-webkit-outer-spin-button { 
								    	-webkit-appearance: none;
								    	margin: 0;
								    }
										&[type=number]{ 
											-moz-appearance:textfield;
										}
										*/
									}

								}
							}

							&__label{
								display: flex;
						    font-size: 0.9rem;
						    position: relative;
						    left: 0;
						    top: 0;
						    color: #000;
						    margin: 0 0 .25rem 0;

						    @media (min-width: 991px){
						    	font-size: 1.05rem;
						    }
							}

							&__labeltextarea{
								display: flex;
						    font-size: 0.9rem;
						    position: relative;
						    left: 0;
						    top: 0;
						    color: #000;
						    margin: 0 0 .25rem 0;
							}

							&__input{
								border: thin solid $border-bottom-input;
								width: 100%;
								outline: none;
								transition: .3s ease;
								background-color: transparent;
								font-size: 0.9rem;
								padding: 0.4rem 0.5rem;
								border-radius: .5rem;

								/*
								&[type=number]::-webkit-inner-spin-button, &[type=number]::-webkit-outer-spin-button { 
						    	-webkit-appearance: none;
						    	margin: 0;
						    }
								&[type=number]{ 
									-moz-appearance:textfield;
								}
								*/

								&[readonly]{
									background-color: #eee;
							    user-select: none;
							    cursor: not-allowed;
								}

								&.focus{
									border: 1px solid red;
								}

								&.complete{
									border: 1px solid green;
								}

								&.disabled{
									cursor: not-allowed;
									background-color: #ccc;
								}

								&.valid-format{
									box-shadow: 0 0 0 2px #60E266;
								}

								&.invalid-format{
									box-shadow: 0 0 0 2px #E26066;
								}

								@media (min-width: 991px){
							    font-size: 1rem;
							    padding: 0.5rem 0.8rem 0.4rem 0.8rem;
							    line-height: 1.9;
								}
							}

							&__input-photo{
								border-bottom: thin solid $border-bottom-input; 
							}

							&__select{
								border: thin solid $border-bottom-input;
								width: 100%;
								outline: none;
								transition: .3s ease;
								background-color: transparent;
								font-size: 0.9rem;
								padding: 0.4rem 0.5rem;
								border-radius: .3rem;								
							}

							&__textarea{
								border: thin solid $border-bottom-input;
								width: 100%;
								outline: none;
								transition: .3s ease;
								background-color: transparent;
								font-size: 0.9rem;
								padding: 0.4rem 0.5rem;
								border-radius: .3rem;								
								min-height: 100px;
								max-height: 130px;
							}
						}

						&--controlSelect{
						  position: relative;
							
							/* MENSAJE DE ALERTA - TIPO DE MONEDA */
							#msgErrNounTypeCurr{
								color: red;
								padding-left: 0.65rem;
							}

							/* MENSAJE DE ALERTAR - TIPO DE CUENTA*/
							#msgErrNounTypeAccount{
								color: red;
								padding-left: 0.65rem;
							}

							&--cFakeSelect{
								cursor: pointer;
								outline: none;
						    display: flex;
						    align-items: center;
						    justify-content: space-between;
						    background-color: #fff;
						    border: thin solid $border-bottom-input;
						    border-radius: .5rem;
						    padding: .65rem;

								span{
									color: #666;
								}

								input{
									outline: none;
									width: 0;
									border: none;
									background-color: transparent;
								}

								img{

								}
							}

							&--m{
								position: absolute;
						    left: 0;
						    width: 100%;
						    background-color: #fff;
						    min-height: 70px;
						    border: thin solid $border-bottom-input;
						    z-index: 9;
						    display: none;

						    &.show{
						    	display: block;	
						    }

								&--item{
									cursor: pointer;
    							padding: .5rem 1rem;
									&:hover{
										background-color: #ccc;
									}
								}

								&--itemAccount{
									cursor: pointer;
    							padding: .5rem 1rem;
									&:hover{
										background-color: #ccc;
									}
								}
							}
						}

						&--cMediumIcon{
							position: relative;
					    top: 12px;
					    vertical-align: middle;
						}
					}

					&__footer{
						display: flex;
						align-items: center;
						justify-content: flex-end;
						flex-wrap: wrap;

						&--btncancel{
					    border: thin solid $color-paragraph;
					    background-color: #fff;
					    padding: .4rem 1rem;
					    margin-left: .5rem;
					    color: $color-paragraph;
					    border-radius: .5rem;
					    margin-bottom: 0.5rem;
					    width: 100%;
					    font-size: 0.9rem;
					    font-weight: 500;
					    transition: .2s ease-in-out;

					    &:hover{
					    	background-color: #eee;
					    }

					    @media (min-width: 480px){
					    	width: 38%;
					    	padding: 0.5rem 1rem;
					    	line-height: 1.8;
					    }
						}

						&--btnadd{
					    border: thin solid transparent;
					    padding: .4rem 1rem;
					    margin-left: .5rem;
					    color: $color-paragraph;
					    border-radius: .5rem;
					    margin-bottom: 0.5rem;
					    width: 100%;
					    font-size: 0.9rem;
					    font-weight: 500;
					    background-color: yellow;
					    transition: .2s ease-in-out;

					    &:hover{
					    	opacity: .5;
					    }

					    @media (min-width: 480px){
					    	width: 38%;
					    	padding: 0.5rem 1rem;
					    	line-height: 1.8;
					    }
						}
					}
				}	
			}
		}
	}
}
/* MODAL BOOTSTRAP - CONFIGURATIONS UPDATE ITEMS*/
.bootstrapmodalupdate-custom{
	.modal-dialog{
		.modal-content{
			.modal-header{
				.modal-title{
					font-weight: bold;
					line-height: 1.2 !important;
				}
				.close{

				}
			}

			.modal-body{

				.text-message-modalAlt{
					font-size: 1.4rem;
					margin-bottom: 1rem;
				}

				.cont-modalbootstrapupdate{
					&__form{
						&--control{
							display: flex;
							flex-direction: column;
							margin-bottom: 1.2rem;
							position: relative;

							/* MENSAJE DE ALERTA  - NOMBRE DE BANCO*/
							#msgErrNounNombBank-update{
								color: red;
								padding-left: 0.65rem;
							}

							/* MENSAJE DE ALERTA  - NÚMERO DE RU*/
							#msgErrNounNumbRUC-update{
								color: red;
								padding-left: 0.65rem;
							}

							/* MENSAJE DE ALERTA  - NÚMERO DE CUENTA*/
							#msgErrNounNumbAccount-update{
								color: red;
								padding-left: 0.65rem;
							}

							&__contIconLeft{
								position: relative;
						    display: flex;
						    align-items: center;
						    justify-content: center;
						    border: thin solid #767676;
						    border-radius: .6rem .5rem .5rem .6rem;

								&--icon{
									position: absolute;
							    display: flex;
							    align-items: center;
							    justify-content: center;
							    vertical-align: middle;
							    min-height: 100%;
							    left: 0;
							    width: 48px;
							    background: #eee;
							    box-shadow: 0 0 0 1px #ccc;
							    border-radius: .5rem 0 0 .5rem;
								}

								input{
									border: none;
									padding-left: 3.8rem;
								}
							}

							&__continputs{
								display: flex;
								align-items: center;
								justify-content: space-between;
								margin-bottom: 0.5rem;
								
								&--controls{
									display: flex;
									flex-direction: column;
									justify-content: flex-start;
									width: 48%;
									position: relative;

									&__label{
										margin: 0;
								    padding: 0;
								    font-size: 0.75rem;
								    position: absolute;
								    top: -10px;
								    background-color: #fff;
								    left: 6px;
								    padding: 0 .3rem;
								    color: #777;
									}

									&__input{
										width: 100%;
								    border: thin solid #767676;
								    outline: none;
								    padding-bottom: 0.4rem;
								    padding-top: 0.4rem;
								    background-color: transparent;
								    font-size: 0.9rem;
								    border-radius: .3rem;
								    padding-left: .3rem;
								    padding-right: .3rem;
										/*
								    &[type=number]::-webkit-inner-spin-button, &[type=number]::-webkit-outer-spin-button { 
								    	-webkit-appearance: none;
								    	margin: 0;
								    }
										&[type=number]{ 
											-moz-appearance:textfield;
										}
										*/
									}
								}
							}

							&__maps{
								width: 100%;
								height: 250px;
								border: 1px solid #ccc;
							}

							&__linkphoto{
								font-size: 0.9rem;
							}
							
							&__label{
								display: flex;
						    font-size: 0.9rem;
						    position: relative;
						    left: 0;
						    top: 0;
						    color: #000;
						    margin: 0 0 .25rem 0;

						    @media (min-width: 991px){
						    	font-size: 1.05rem;
						    }
							}

							&__input{
								border: thin solid $border-bottom-input;
								width: 100%;
								outline: none;
								transition: .3s ease;
								background-color: transparent;
								font-size: 0.9rem;
								padding: 0.4rem 0.5rem;
								border-radius: .5rem;
								/*
								&[type=number]::-webkit-inner-spin-button, &[type=number]::-webkit-outer-spin-button { 
						    	-webkit-appearance: none;
						    	margin: 0;
						    }
								&[type=number]{ 
									-moz-appearance:textfield;
								}
								*/
								&.focus{
									border: 1px solid red;
								}

								&.complete{
									border: 1px solid green;
								}

								&.disabled{
									cursor: not-allowed;
									background-color: #ccc;
								}

								&.valid-format{
									box-shadow: 0 0 0 2px #60E266;
								}

								&.invalid-format{
									box-shadow: 0 0 0 2px #E26066;
								}

								@media (min-width: 991px){
							    font-size: 1rem;
							    padding: 0.5rem 0.8rem 0.4rem 0.8rem;
							    line-height: 1.9;
								}
							}

							&__input-photo{
								border-bottom: thin solid $border-bottom-input; 
							}
						}

						&--controlSelect{
						  position: relative;
							
							/* MENSAJE DE ALERTAR */
							#msgErrNounTypeCurr-update{
								color: red;
								padding-left: 0.65rem;
							}

							&--cFakeSelect{
								cursor: pointer;
								outline: none;
						    display: flex;
						    align-items: center;
						    justify-content: space-between;
						    background-color: #fff;
						    border: thin solid $border-bottom-input;
						    border-radius: .5rem;
						    padding: .65rem;

								span{
									color: #666;
								}

								input{
									outline: none;
									width: 0;
									border: none;
									background-color: transparent;
								}

								img{

								}
							}

							&--m{
								position: absolute;
						    left: 0;
						    width: 100%;
						    background-color: #fff;
						    min-height: 70px;
						    border: thin solid $border-bottom-input;
						    z-index: 9;
						    display: none;

						    &.show{
						    	display: block;	
						    }

								&--item{
									cursor: pointer;
    							padding: .5rem 1rem;
									&:hover{
										background-color: #ccc;
									}
								}
								&--itemAccount{
									cursor: pointer;
    							padding: .5rem 1rem;
									&:hover{
										background-color: #ccc;
									}
								}
							}
						}

						&--cMediumIcon{
							position: relative;
					    top: 6px;
					    vertical-align: middle;
						}
					}

					&__footer{
						display: flex;
						align-items: center;
						justify-content: flex-end;
						flex-wrap: wrap;

						&--btncancel{
					    border: thin solid $color-paragraph;
					    background-color: #fff;
					    padding: .4rem 1rem;
					    margin-left: .5rem;
					    color: $color-paragraph;
					    border-radius: .5rem;
					    margin-bottom: 0.5rem;
					    width: 100%;
					    font-size: 0.9rem;
					    font-weight: 500;
					    transition: .2s ease-in-out;

					    &:hover{
					    	background-color: #eee;
					    }

					    @media (min-width: 480px){
					    	width: 38%;
					    	padding: 0.5rem 1rem;
					    	line-height: 1.8;
					    }
						}

						&--btnupdate{
					    border: thin solid transparent;
					    padding: .4rem 1rem;
					    margin-left: .5rem;
					    color: $color-paragraph;
					    border-radius: .5rem;
					    margin-bottom: 0.5rem;
					    width: 100%;
					    font-size: 0.9rem;
					    font-weight: 500;
					    background-color: yellow;
					    transition: .2s ease-in-out;

					    &:hover{
					    	opacity: .5;
					    }

					    @media (min-width: 480px){
					    	width: 38%;
					    	padding: 0.5rem 1rem;
					    	line-height: 1.8;
					    }
						}
					}
				}	
			}
		}
	}
}
/* MODAL BOOTSTRAP - CONFIGURATIONS DELETE ITEMS*/
.bootstrapmodaldelete-custom{
	.modal-dialog{
		.modal-content{
			.modal-header{
				.modal-title{
					font-weight: bold;
					line-height: 1.2 !important;
				}
				.close{

				}
			}

			.modal-body{

				.text-message-modalAlt{
					font-size: 1.4rem;
					margin-bottom: 2rem;
					color: $color-paragraph;
				}

				.cont-modalbootstrapupdate{
					&__form{
						&--control{

						}
					}

					&__footer{
						display: flex;
						align-items: center;
						justify-content: flex-end;
						flex-wrap: wrap;

						&--btncancel{
					    border: thin solid $color-paragraph;
					    background-color: #fff;
					    padding: .4rem 1rem;
					    margin-left: .5rem;
					    color: $color-paragraph;
					    border-radius: .5rem;
					    margin-bottom: 0.5rem;
					    width: 100%;
					    font-size: 0.9rem;
					    font-weight: 500;
					    transition: .2s ease-in-out;

					    &:hover{
					    	background-color: #eee;
					    }

					    @media (min-width: 480px){
					    	width: 38%;
					    	padding: 0.5rem 1rem;
					    	line-height: 1.8;
					    }
						}

						&--btndelete{
					    border: thin solid transparent;
					    padding: .4rem 1rem;
					    margin-left: .5rem;
					    color: #fff;
					    border-radius: .5rem;
					    margin-bottom: 0.5rem;
					    width: 100%;
					    font-size: 0.9rem;
					    font-weight: 500;
					    background-color: $btn-color-red;
					    transition: .2s ease-in-out;

					    &:hover{
					    	opacity: .5;
					    }

					    @media (min-width: 480px){
					    	width: 38%;
					    	padding: 0.5rem 1rem;
					    	line-height: 1.8;
					    }
						}
					}
				}	
			}
		}
	}
}
/* STYLES INTO TABLE NON RESULT */
.msg-non-results-res{
	text-align: center;
	padding: 1.2rem;
	
	&__icon{
		width: 50px;
		height: 50px;
		margin-bottom: 0.6rem;
	}

	&__title{
		font-size: 1.1rem;
		color: $color-paragraph-light;
	}
}