/* FUENTES PRINCIPALES */
	$theme-font-family							: 'Roboto', sans-serif;
	
/* VARIABLES GENERALES DEL PROYECTO */
	$max-width											: 1560px;
	$max-width-client								: 1440px; 
	$white        									: #FFFFFF;
	$color-paragraph								:	#676767;
	$color-links										: steelblue;
	$color-links-gradient						: deepskyblue;
	$color-links-photo							: #C9DDFB;
/* VARIABLES SECUNDARIAS */
	
/* CUSTOMS VARIABLES */
	$frmconvert_line-height					: 4.2rem;
	$frmconvert_fontsize-convert		: 1.65rem;
	$frmconvert_widthyheightbutton	: 50px;
	$frmconvert_colorschema					: #0D8284;