/* FUENTES PRINCIPALES */
	$theme-font-family							: 'Roboto', sans-serif;

// VARIABLES GENERALES DEL PROYECTO
	$max-width											: 1360px;
	$max-width-client								: 1440px;
	$color-primary									: #FFFF00;
	$color-secondary								: steelblue;
	$white        									: #FFFFFF;
	$color-paragraph								:	#676767;
	$color-links										: steelblue;
	$color-links-gradient						: deepskyblue;
	$color-links-photo							: #C9DDFB;
	$border-color-table							: #dee2e6;
	$bgc-th-table										: #f2f2f2;
	$border-radius_pri							: 6px;
	$bg-color-main									: #F8FAFB;
// VARIABLES SECUNDARIAS
	
// CUSTOMS VARIABLES
	$frmconvert_line-height					: 4.2rem;
	$frmconvert_fontsize-convert		: 1.65rem;
	$frmconvert_widthyheightbutton	: 50px;
	$frmconvert_colorschema					: #ff7800;

// COLORS - THEME
	$theme_color-links							: #ff7800;
	$theme_color-tenue							: #C3E5D9;
	$theme_titles-links							: #ff7800;
	$theme_color-text								: #001F5A;
	$theme_color-text-white					: #002A8D;
	$theme_color_buttons						: #ff7800;
	$theme_color-text-header				: #676767;
	$theme_color-text-header-2			: #FFFFFF;
	$theme_color-opaque							: #E6F1FF;