/* IMPORTS EXTERNOS */
	@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

/* FUENTES PRINCIPALES */
	$theme-font-family							: 'Roboto', sans-serif;
	
/* VARIABLES GENERALES DEL PROYECTO */
	$max-width											: 1560px;
	$max-width-client								: 1440px; 
	$white        									: #FFFFFF;
	$color-paragraph								:	#676767;
	$color-links										: steelblue;
	$color-links-gradient						: deepskyblue;
	$color-links-photo							: #C9DDFB;
/* VARIABLES SECUNDARIAS */
	
/* CUSTOMS VARIABLES */